.Dashboard {
    display: flex;
}

.Dashboard > div {
    margin: 2px auto;
    float: left;
    width: 49%;
}

#grammar, #murphy, #phrasal_verbs, #topic, #vocabulary, #general_vocabulary, #expressions {
    border: 1px solid #bbb;
    padding: 10px;
}

button {
    width: 100%;
}

#phrasal_verbs #element_name, #topic {
    font-weight: bold;
}